<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	<fieldset>
<div class="header">
	<h1><font color="blue">WELCOME HOME <%= uname%></font></h1><br/>
	</div>
	
        <br/><div align="center"><a href="/home/profile">Profile</a></div><br/><br/>
        
		<div align="center"><a href="/home/studentsinfo">Student's Information</a></div><br/><br/>
		<div align="center"><a href="/home/tpinfo">Tuition provider's Information</a></div><br/><br/>
		<div align="center"><a href="/home/teachersinfo">Teacher's Information</a></div><br/><br/>
		
		<div align="center"><a href="/home/adduser">Add user</a></div><br/><br/>
		
		
		
		<div align="center"><a href="/logout">Logout</a></div><br/><br/>
 
		</fieldset>
		
		
</body>
</html>
